
<h1>Kahve List</h1>
<div>
 
      <input type="text"  [(ngModel)]="this.name" >
      <input type="button" (click)="add_Kahve()" value="Ekle">
     
  
  <ul *ngFor="let item of kahvelist">
    <li> {{item}}</li>
  </ul>
  
</div>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
